 /* Styles for embla-carousel  */
.embla_member {
  overflow: hidden;
}
.embla__container_member {
  display: flex;
  justify-content: center;
}
.embla__slide_member {
  flex: 0 0 auto;
  width: 358px;
  min-width: 0;
}